body {
    margin: 0;
    background-image: url(./img/undress.jpg);
    background-size:  10%; 
    background-position:initial;
    /* filter: blur(50px); */
}

.links {
    padding-top: 20%;
    padding-left: 60%;
}
a {
    color: #ffffff;
    font-family: "Sacramento", cursive;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 15px;
}
h1 {
    font-family: "Sacramento", cursive;
    color: #ffffff;
    margin: 10px 20px;
    font-size: 30px;
}

a:hover {
    color: #e2ff05;
}

#i {
    color: #e2ff05;
}

@keyframes blink {
    0%, 1000% {
        opacity: -5;
    }
    500% {opacity: 0;}

    50%, 100% {
        filter: blur(10px);
        color: rgb(255, 255, 255);
    }
    50% {filter: blur(0px);}

}
#number01 {
    animation: blink 1s linear infinite;
}
#number02 {
    animation: blink 1.1s linear infinite;
}
#number03 {
    animation: blink 1.2s linear infinite;
}
/* @keyframes filter {
    10%, 100% {filter: blur(10px);}
    50% {filter: blur(0px);}
} */






@media (max-width: 1080px) {
    body {
        /* padding-top: 20px ; */
        background-image: url(./img/glass\ bw.jpg);
        /* backface-visibility: auto calc(100%-20%); */
        background-size: 125%;
    }
    a:hover {
        color: #e2ff05;
    }
    .links {
        padding-top: 20%;
        padding-left: 30%;
    }
}
